* {
    padding: 0;
    margin: 0;
}


.contacts {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 15px auto 0px;
    max-width: 60%;
    box-shadow: 0px 5px 10px 0px rgb(144 170 173 / 50%);
}

.contacts:hover{
    box-shadow: 0px 10px 20px 5px rgb(140 166 184 / 50%);
    transform: translateY(-5px);
    transition: 1s;
  }

.contacts__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts__content {
    display: flex;
    justify-content: center;
}

input {
    font-size: 13px;
    height: 25px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    outline: none;
    border-bottom: 1px solid #B1B1B1;
    color: #B1B1B1;
    background: rgba(0,0,0,0);
    opacity: 0.5;
    transition: 0.2s ease;
}

input:focus {
    outline: none;
    opacity: 1;
}

.contact__name,
.contact__phone,
.contact__email,
.contact__address {
    font-size: 17px;
}

button {
    float: right;
    color: #B1B1B1;
    transition: 0.2s ease;
    border: none;
    margin-top: 10px;
    font-size: 14px;
    padding: 5px;
}
  
button:hover {
    color: rgb(46, 82, 127);
    cursor: pointer;
}

.contact__button {
    width: 82px;
}

ul {
    list-style-type:none;
}

li {
    margin-bottom: 65px;
}

.name,
.phone,
.address,
.email {
    font-size: 16px;
    color: #807d7d;;
}

.content__empty {
    color: rgb(46, 82, 127);
}
